body {
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 1170px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

.header {
  background: #433232;
}

.header__blocks {
  padding: 26px 0;
  color: #ffffff;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  margin-bottom: 26px;
}

.header-contacts .contacts-phone {
  display: flex;
  align-items: center;
}

.header-contacts .contacts-phone img {
  margin-right: 5px;
}

.header-contacts .contacts-mail {
  display: flex;
  align-items: center;
}

.header-contacts .contacts-mail img {
  margin-right: 5px;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
}

.header-navbar a {
  color: #ffffff;
}

.header-logo {
  position: absolute;
  top: 40%;
  border-radius: 50%;
  z-index: 4;
}

.header-search {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.header-search input:first-child {
  font-family: Nunito;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  padding: 9px 0 9px 11px;
  width: 230px;
  height: 30px;
  border: none;
  border-radius: 15px;
}

.header-search input:first-child::-clear {
  display: none;
}

.header-search input:last-child {
  position: relative;
  left: -2em;
  width: 19px;
  height: 23px;
  background: transparent url(../img/icons/search.svg) 50% 50% no-repeat;
  border: none;
}

.header-basket {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 45px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.header-basket:hover {
  text-decoration: none;
  color: #ffffff;
}

.header-basket:hover span {
  border-radius: 3px;
  border-bottom: 1px solid white;
}

.header-basket img {
  margin-right: 10px;
}

.intro {
  position: relative;
  background: url(../img/intro/background.png) center no-repeat rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(162, 162, 162, 0.25);
  z-index: 2;
}

.intro__blocks {
  text-align: center;
  padding: 125px 0 100px 0;
  position: relative;
  z-index: 3;
}

.intro__header {
  color: #000;
  margin: 0 auto 113px auto;
  max-width: 670px;
  font-family: Podkova;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 71px;
  text-align: center;
}

.catalog {
  position: relative;
  background: #fff9e9;
}

.catalog__blocks {
  padding: 100px 0;
}

.catalog__header {
  margin-bottom: 60px;
  text-align: center;
  font-size: 48px;
  font-family: Podkova;
}

.catalog-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 396px;
  width: 100%;
  font-family: Podkova;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(162, 162, 162, 0.3);
  z-index: 2;
}

.catalog-card a {
  color: white;
  position: relative;
  z-index: 3;
}

.catalog .card-nuts {
  background: url(../img/catalog/nuts.png);
}

.catalog .card-fruits {
  background: url(../img/catalog/fruits.png);
}

.catalog .card-seeds {
  background: url(../img/catalog/seeds.png);
}

.catalog .card-big {
  margin-top: 25px;
  background: url(../img/catalog/show-all.png);
  width: 100%;
  height: 180px;
}

.catalog .card-big a {
  border-radius: 3px;
  border-bottom: 2px solid white;
}

.catalog-free {
  bottom: 0;
  right: 0;
  z-index: 4;
  position: absolute;
}

.discount__blocks {
  padding: 94px 0 0 0;
}

.discount__header {
  margin-bottom: 60px;
  text-align: center;
  font-family: Podkova;
  font-weight: bold;
  font-size: 48px;
}

.discount-info {
  font-size: 18px;
}

.discount-info .info-rules {
  margin-bottom: 11px;
  max-width: 520px;
  line-height: 25px;
}

.discount-info .info-list li {
  margin-bottom: 27px;
  display: flex;
  align-items: center;
}

.discount-info .info-list li img {
  margin-left: 7px;
  margin-right: 22px;
}

.discount-info .info-list li:last-child {
  margin-bottom: 0;
}

.about {
  position: relative;
  background: #fff9e9;
}

.about__blocks {
  padding: 100px 0;
}

.about__header {
  margin-bottom: 80px;
  text-align: center;
  font-family: Podkova;
  font-weight: bold;
  font-size: 48px;
}

.about-text {
  font-size: 18px;
  max-width: 515px;
  line-height: 25px;
}

.about-text span {
  display: block;
  margin-bottom: 40px;
}

.about-text span:last-child {
  margin-bottom: 0;
}

.about-free {
  bottom: 0%;
  right: 0%;
  z-index: 4;
  position: absolute;
}

.features__blocks {
  padding: 100px 0;
}

.features__header {
  margin-bottom: 68px;
  color: #433232;
  text-align: center;
  font-family: Podkova;
  font-weight: bold;
  font-size: 48px;
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__card img {
  margin-bottom: 38px;
}

.features__card h3 {
  margin-bottom: 17px;
  color: #433232;
  font-family: Podkova;
  font-weight: bold;
  font-size: 24px;
}

.features__card p {
  text-align: center;
  line-height: 25px;
  max-width: 338px;
  font-size: 18px;
}

.feedback {
  position: relative;
  background: url(../img/feedback/background.png) center no-repeat;
  background-size: cover;
}

.feedback::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4) center;
  background-size: cover;
  z-index: 1;
}

.feedback__blocks {
  position: relative;
  z-index: 2;
  padding: 100px 0;
}

.feedback__header {
  margin-bottom: 60px;
  color: #ffffff;
  text-align: center;
  font-family: Podkova;
  font-weight: bold;
  font-size: 48px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__form input {
  padding: 19px 0 19px 19px;
  margin-bottom: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  width: 370px;
}

.feedback__form input::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.feedback__form textarea {
  margin-top: 12px;
  margin-bottom: 23px;
  background: rgba(255, 255, 255, 0.5);
  resize: none;
  padding: 19px 0 0 19px;
}

.feedback__form textarea::placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.submit-button {
  color: #ffffff;
  padding: 19px 0;
  background: #433232;
}

.row .col-12 small {
  margin-top: 10px;
  color: #ffffff;
  font-size: 10px;
}
/*# sourceMappingURL=index.css.map */