.about {
  background: $theme-background-color;
  &__blocks {
    padding: 100px 0;
  }
  &__header {
    margin-bottom: 80px;
    text-align: center;
    font-family: Podkova;
    font-weight: bold;
    font-size: 48px;
  }
  &-text {
    font-size: 18px;
    max-width: 515px;
    line-height: 25px;
    span {
      display: block;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-free {
    top: 340%;
    right: 0;
    z-index: 4;
    position: absolute;
  }
}
