.features {
  &__blocks {
    padding: 100px 0;
  }
  &__header {
    margin-bottom: 68px;
    color: $footer-background;
    text-align: center;
    font-family: Podkova;
    font-weight: bold;
    font-size: 48px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin-bottom: 38px;
    }
    h3 {
      margin-bottom: 17px;
      color: $footer-background;
      font-family: Podkova;
      font-weight: bold;
      font-size: 24px;
    }
    p {
      text-align: center;
      line-height: 25px;
      max-width: 338px;
      font-size: 18px;
    }
  }
}
