.footer {
  background: $footer-background;
  &-wrap {
    color: $text-color-light;
    padding: 25px 0 37px 0;
  }
  &-navbar {
    max-width: 378px;
    display: flex;
    justify-content: space-between;
    a {
      &:hover {
        transition: 0.3s;
        transform: scale(1.1);
      }
    }
  }
  &-logo {
    position: absolute;
    bottom: 50%;
    border-radius: 50%;
    z-index: 4;
  }
  &-hotline {
    margin-bottom: 25px;
    // padding-right: 80px;
    max-width: 378px;
    display: flex;
    justify-content: space-between;
  }
  &-social {
    max-width: 378px;
    display: flex;
    justify-content: space-between;
    a {
      transition: 0.4s;
      width: 20px;
      height: 23px;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
