.catalog {
  background: $theme-background-color;
  &-wrap {
    padding: 60px 0;
  }
  &-filter {
    .filter {
      &-type,
      &__param {
        label {
          span {
            vertical-align: middle;
          }
          input {
            vertical-align: middle;
          }
        }
      }
    }
  }
  &-cards {
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 15px;
    width: 270px;
    height: 362px;
    background: white;
    color: $text-color-dark;
    &:nth-child(3n) {
      margin-right: 0;
    }
    .card {
      &-img {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
      &-name {
        display: block;
      }
      &-price-wrap {
        font-weight: bold;
        font-size: 24px;
        font-style: $font-podkova;
      }
      &-weight-wrap {
        user-select: none;
      }
      &-weight-selector {
        display: flex;
      }
    }
  }
}
