@import "~normalize.css";
@import "_variables";
@import "buttons";

body {
  font-family: "Nunito", sans-serif;
  color: pink;
}

img {
  max-width: 100%;
}

.button {
  border: none;
  outline: none !important;
  user-select: none !important;
}

input {
  outline: none;
  border: none;
}

.container {
  max-width: 1170px;
}

a {
  color: $text-color-light !important;

  &:hover {
    color: $text-color-light !important;
    text-decoration: none !important;
  }
}
img {
  user-select: none;
}
@media (max-width: 992px) {
  .free-nuts {
    display: none;
  }
}

@import "header";
@import "burger";
@import "intro";
@import "catalog";
@import "discount";
@import "about";
@import "features";
@import "feedback";
@import "footer";
@import "~bootstrap/scss/bootstrap";
